<h1><%= @trips.name %></h1>

<div>
  <% @trips.posts.each do |post| %>
    <div class="recommendations">
      <strong><%= post.site %></strong>
      <p><%= post.description %></p>
      <%= link_to "Edit", edit_trip_post_path(@trips.id, post.id) %>
      <%= link_to "Delete", trip_post_path(@trips.id, post), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
    </div>
  <% end %>
</div>

<%= link_to "New Recommendation", new_trip_post_path, :class=>"btn btn-primary" %>
<%= link_to "Back to My Trips", trips_path %>
